### pandas Series
1. Create pandas series with different data types in different ways
2. Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
3. create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
4. What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

**1. Create pandas series with different data types in different ways**

In [1]:
import pandas as pd

In [2]:
#from list

list1= list(range(20,30))
pd.Series(list1)

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int64

In [3]:
#from tuple

tuple1 = (10,20,30,40,50,60)
pd.Series(tuple1,dtype= "float16")

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float16

In [6]:
#from array

import numpy as np
a = np.array([20,40,60,80,100,120])
pd.Series(a,dtype="int8")

0     20
1     40
2     60
3     80
4    100
5    120
dtype: int8

In [8]:
#from dictionary

flowers={"rose":"red","jasmine":"white","iris":"purple","Hybiscus":"red"}
pd.Series(flowers)

rose           red
jasmine      white
iris        purple
Hybiscus       red
dtype: object

**2. Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100**

In [40]:
num = pd.Series([10,30,40,1,3,6,14,18,23],index=list(range(100,109)))
num

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [41]:
num.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [42]:
num.head()  #returns first five values

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [43]:
num.tail()   #returns last five values

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [44]:
num.dtype

dtype('int64')

In [45]:
num.describe() #gives descriptive statastics values

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

**3. create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.**

In [15]:
salaries= np.random.randint(30000,90000,30)
sal= pd.Series(salaries)
sal

0     44591
1     47517
2     47008
3     61535
4     83492
5     76129
6     72598
7     49943
8     85530
9     69372
10    85549
11    76957
12    53218
13    50015
14    43174
15    72693
16    49571
17    52706
18    45064
19    88136
20    85140
21    64381
22    77719
23    35689
24    45340
25    33522
26    31188
27    53581
28    83832
29    34626
dtype: int32

**statastical Measures**

In [29]:
sal.mean()

59993.86666666667

In [30]:
sal.median()

53399.5

In [31]:
sal.mode() #values are not repeated so it prints all the values

0     31188
1     33522
2     34626
3     35689
4     43174
5     44591
6     45064
7     45340
8     47008
9     47517
10    49571
11    49943
12    50015
13    52706
14    53218
15    53581
16    61535
17    64381
18    69372
19    72598
20    72693
21    76129
22    76957
23    77719
24    83492
25    83832
26    85140
27    85530
28    85549
29    88136
dtype: int32

In [47]:
Range= sal.max()- sal.min()
Range

56948

In [20]:
sal.var()

332349472.3264368

In [24]:
sal.cov(sal)

332349472.32643676

In [32]:
sal.std()

18230.454528794307

In [33]:
sal.quantile(0.25)

45757.0

In [28]:
sal.describe()

count       30.000000
mean     59993.866667
std      18230.454529
min      31188.000000
25%      45757.000000
50%      53399.500000
75%      76750.000000
max      88136.000000
dtype: float64

**4. What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.**

Numpy:

* Numpy is open source library
* it works with numerical data
* it works with homogeneous data
* NumPy is build on the top of oops,c++
* data structure is : nd array
* it is not index based

Pandas:

* Pandas is also open source library
* it works on both numerical and text data
* it works with heterogeneous data
* Pandas is build on the top of Numpy so it has some features of NumPy
* It only deals with 1-d array(series),2-d array(dataframe) and 3-d array(panel).
* it is index based

In [56]:
a= np.array([1,2,3,4,5]) #it is not index based
a

array([1, 2, 3, 4, 5])

In [57]:
pd.Series(a) #it is index based
             #it supports numpy array

0    1
1    2
2    3
3    4
4    5
dtype: int32

**5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.**

In [53]:
series= pd.Series(list(range(100,150)))
series

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [54]:
series[1]

101

In [55]:
series[1:10:2]

1    101
3    103
5    105
7    107
9    109
dtype: int64