In [85]:
import pandas as pd
import numpy as np

In [86]:
df= pd.read_excel(r"C:\Users\udayk\Downloads\Clean.xlsx")

In [87]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

### Missing Values

In [88]:
df["SepalLengthCm"].fillna(df["SepalLengthCm"].median(),inplace= True)

In [89]:
df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace= True)

In [90]:
df["PetalLengthCm"].fillna(df["PetalLengthCm"].median(),inplace= True)

In [91]:
df["Species"].fillna(df["Species"].mode()[0],inplace= True)

In [92]:
df.isna().sum()  #all the missing values are replaced

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Outliers

In [93]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,5.8,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

**Outliers Treatement For SepalLengthCm**

In [94]:
cond1= (df["SepalLengthCm"]>6.0) | (df["SepalLengthCm"]<0)

In [95]:
df["SepalLengthCm"]= np.where(cond1,df["SepalLengthCm"].median(),df["SepalLengthCm"])

In [96]:
df[(df["SepalLengthCm"]>6.0) | (df["SepalLengthCm"]<0)]

Empty DataFrame
Columns: [Unnamed: 0, Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

**Outliers Treatement For SepalWidthCm**

In [97]:
cond2= (df["SepalWidthCm"]>4.4) | (df["SepalWidthCm"]<2.3)

In [98]:
df["SepalWidthCm"]= np.where(cond2,df["SepalWidthCm"].median(),df["SepalWidthCm"])

In [99]:
df[(df["SepalWidthCm"]>4.4) | (df["SepalWidthCm"]<2.3)]

Empty DataFrame
Columns: [Unnamed: 0, Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

**Outliers Treatement For PetalLengthCm**

In [100]:
cond3= (df["PetalLengthCm"]>6.9) | (df["PetalLengthCm"]<1.0)

In [101]:
df["PetalLengthCm"]= np.where(cond3,df["PetalLengthCm"].median(),df["PetalLengthCm"])

In [102]:
df[(df["PetalLengthCm"]>6.9) | (df["PetalLengthCm"]<1.0)]

Empty DataFrame
Columns: [Unnamed: 0, Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

**Outlier Treatement For PetalWidthCm**

In [103]:
cond4= (df["PetalWidthCm"]>2) | (df["PetalWidthCm"]<0)

In [104]:
df["PetalWidthCm"]= np.where(cond4,df["PetalWidthCm"].median(),df["PetalWidthCm"])

In [105]:
df[(df["PetalWidthCm"]>2) | (df["PetalWidthCm"]<0)]

Empty DataFrame
Columns: [Unnamed: 0, Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

### Duplicated values

In [106]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.0,Iris-setosa
1,1,2,4.9,3.0,1.4,0.0,Iris-setosa
2,2,3,5.8,3.2,1.3,0.0,Iris-setosa
3,3,4,4.6,3.1,1.5,0.0,Iris-setosa
4,4,5,5.0,3.6,1.4,0.0,Iris-setosa

In [107]:
df.drop("Unnamed: 0",axis=1,inplace= True)

In [108]:
df.drop("Id",axis=1,inplace= True)

In [111]:
len(df[df.duplicated()])

19

In [112]:
df.drop_duplicates(inplace= True)

In [114]:
len(df[df.duplicated()])

0

### Type Casting

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  141 non-null    float64
 1   SepalWidthCm   141 non-null    float64
 2   PetalLengthCm  141 non-null    float64
 3   PetalWidthCm   141 non-null    float64
 4   Species        141 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.6+ KB

In [118]:
df["SepalLengthCm"]= df["SepalLengthCm"].astype("float16")

df["SepalWidthCm"]= df["SepalWidthCm"].astype("float16")

df["PetalLengthCm"]= df["PetalLengthCm"].astype("float16")

df["PetalWidthCm"]= df["PetalWidthCm"].astype("float16")

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  141 non-null    float16
 1   SepalWidthCm   141 non-null    float16
 2   PetalLengthCm  141 non-null    float16
 3   PetalWidthCm   141 non-null    float16
 4   Species        141 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.3+ KB