Create a Python script that simulates a simple login system. The script should prompt the user to enter their username and password. If the entered username and password match the predefined credentials, the script should log a successful login event to a log file. If the credentials do not match, it should log a failed login attempt to the log file. Example Output Assuming the predefined credentials are username: "user123" and password: "pass123", here's an example output of the script:

**LOGIN**

In [20]:
import time

In [11]:
username= input("Please enter your Username:")
password= input("Please enter your password:")

Please enter your Username:user123
Please enter your password:pass123

In [25]:
Username= input("Please enter your Username:")
Password= input("Please enter your password:")

T= time.strftime("%m/%d/%Y, %H:%M:%S")

def Login(Username,Password):
    
    if (username == Username) and (password==Password):
        print(f"Login successful for {username} ({T})")
    else:
        print(f"Login failed for {Username} ({T})")
        
Login(Username,Password)

Please enter your Username:user123
Please enter your password:pass123
Login successful for user123 (09/29/2023, 16:13:48)

**Create any 5 of following modules**

a. Restaurant

b. IPL

c. Mathematics

d. Data Science

e. India

f. Shopping mall

g. Amazon_price

Do some research while creating them

**Restaurent**

In [45]:
import restaurent as rt

In [ ]:
def menu():
    print("Biryanis\nMandi\nStarters\nVeg Starters\nVeg Currys\nMutton Currys\nchineese\nThickshakes\nJuices\nIcecreams\ndesserts")

def Recommended():
    print("Chicken Biryani\nMutton Biryani\nVeg Biryani\nEgg biryani\nchineese\ndesserts")

def prices():
    print("Chicken Biryani -- 299")
    print("Mutton Biryani -- 449")
    print("Veg Biryani -- 249")
    print("Egg Biryani --249")
    print("Noodles -- 149")
    print("Veg Starters -- 149")
    print("Egg Starters -- 199")
    print("Veg Currys -- 149")
    print("Desserts -- 79")
    print("Thick Shakes -- 50")
    print("Juices -- 40")
    
def branches():
    print("Nizamabad\nSecundrabad\nKhammam\nJublee Hills")   

def workers():
    print("Sai\nUday\nSathish\nsuresh\nGeetha\nVinay\nSrinu\nRAmesh")

In [46]:
rt.menu()

Biryanis
Mandi
Starters
Veg Starters
Veg Currys
Mutton Currys
chineese
Thickshakes
Juices
Icecreams
desserts

In [47]:
rt.prices()

Chicken Biryani -- 299
Mutton Biryani -- 449
Veg Biryani -- 249
Egg Biryani --249
Noodles -- 149
Veg Starters -- 149
Egg Starters -- 199
Veg Currys -- 149
Desserts -- 79
Thick Shakes -- 50
Juices -- 40

In [48]:
rt.Recommended()

Chicken Biryani
Mutton Biryani
Veg Biryani
Egg biryani
chineese
desserts

In [49]:
rt.workers()

Sai
Uday
Sathish
suresh
Geetha
Vinay
Srinu
RAmesh

In [50]:
rt.branches()

Nizamabad
Secundrabad
Khammam
Jublee Hills

**IPL**

In [31]:
import ipl as i

In [32]:
def Teams():
    '''These are the teams are playing in IPL'''
    print("1.SRH\n2.RCB\n3.CSK\n4.MI\n5.LSG\n6.RR\n7.GT\n8.KKR\n9.DC\n10.PBKS")

    
def winners():
    '''These are the winning teams of IPL'''
    print("MI won 5 times\nCSK won 5 times\nKKR won 2 times\nSRH won 1 time\nRR won 1 time\nDC won 1 time")
    
def PrizeMoney():
    '''These are the prize money for winners in different years'''
    print("year - prize money\n2023 - 20crore\n2022 - 20crore\n2021 - 20crore\n2020 - 10crore\n2019 - 20crore\n2018 - 20crore")
    

def prizemoney_Runners():
    '''These are the prize money for Runners in different years'''
    print("year - prize money\n2023 - 13crore\n2022 - 13crore\n2021 - 12.5crore\n2020 - 6.25crore\n2019 - 12.5crore\n2018 - 12.5crore")

    
def successful_teams():
    '''These are the most successful teams'''
    print("MI\nCSK")

def captains():
    '''These are the captains for each te\nVivo\nDream11\nTataams'''
    print("Team\t- Captain\nCSK\t- M.S.Dhoni\nDC\t- David Warner\nGT\t- Hardik Pandya\nKKR\t- Nitish Rana\nLSG\t- K.L.Rahul\nMI\t- Rohit Sharma\nPBKS\t- Shikhar Dhawan\nRR\t- Sanju Samson\nRCB\t- Faf Du Plesis\nSRH\t- Aiden Markram")

def Administrator():
    '''This is the administrator of IPL'''
    print("BCCI")
    
def Defunct_teams():
    '''These are the teams that are no longer existed'''
    print("1. Deccan Chargers\n2. Kochi Tuskers Kerala\n3. Pune Warriors India\n4. Rising Pune Supergiant\n5. Gujarat Lions")
    
def Title_sponsor():
    '''These are the tilte sponsors till the years'''
    print("DLF\nPepsi\nVivo\nDream11\nTata")

In [33]:
i.Teams()

1.SRH
2.RCB
3.CSK
4.MI
5.LSG
6.RR
7.GT
8.KKR
9.DC
10.PBKS

In [34]:
i.captains()

Team	- Captain
CSK	- M.S.Dhoni
DC	- David Warner
GT	- Hardik Pandya
KKR	- Nitish Rana
LSG	- K.L.Rahul
MI	- Rohit Sharma
PBKS	- Shikhar Dhawan
RR	- Sanju Samson
RCB	- Faf Du Plesis
SRH	- Aiden Markram

In [40]:
i.Administrator()

BCCI

In [35]:
i.successful_teams()

MI
CSK

In [36]:
i.PrizeMoney()

year - prize money
2023 - 20crore
2022 - 20crore
2021 - 20crore
2020 - 10crore
2019 - 20crore
2018 - 20crore

In [37]:
i.prizemoney_Runners()

year - prize money
2023 - 13crore
2022 - 13crore
2021 - 12.5crore
2020 - 6.25crore
2019 - 12.5crore
2018 - 12.5crore

In [38]:
i.Defunct_teams()

1. Deccan Chargers
2. Kochi Tuskers Kerala
3. Pune Warriors India
4. Rising Pune Supergiant
5. Gujarat Lions

In [39]:
i.Title_sponsor()

DLF
Pepsi
Vivo
Dream11
Tata

In [41]:
i.winners()

MI won 5 times
CSK won 5 times
KKR won 2 times
SRH won 1 time
RR won 1 time
DC won 1 time

**Data Science**

In [51]:
import datascience as ds

In [ ]:
def programmingLanguage():
    '''Anyone of the programming language should learn'''
    print("1. Python\n2. R\n3. SQL")

def math():
    print("1. Statistics\n2. Linear Algebra\n3. Differential Calculas\n4. Discrete Math")

def dataAnalysis():
    print("1. Feature Engineering\n2. Data Wranging\n3. EDA")
    
def machineLearning():
    print("1. Classification\n2. Regression\n3. Reinforcement Learning\n4. Deep Learning\n5. Clustering")
    
def webScrapping():
    print("1. Beautiful Soup\n2. Scrappy\n3. URLLIB")

def visualisation():
    print("1. Tableau\n2. Scatter Plot\n3. Power BI")

In [52]:
ds.programmingLanguage()

1. Python
2. R
3. SQL

In [53]:
ds.math()

1. Statistics
2. Linear Algebra
3. Differential Calculas
4. Discrete Math

In [54]:
ds.dataAnalysis()

1. Feature Engineering
2. Data Wranging
3. EDA

In [55]:
ds.machineLearning()

1. Classification
2. Regression
3. Reinforcement Learning
4. Deep Learning
5. Clustering

In [57]:
ds.webScrapping()

1. Beautiful Soup
2. Scrappy
3. URLLIB

In [56]:
ds.visualisation()

1. Tableau
2. Scatter Plot
3. Power BI

**INDIA**

In [58]:
import india as b

In [ ]:
def northstates():
    print("Jammu & Kashmir \nHimachal Pradesh\nPunjab\nUttarakhand\nHaryana\nDelhi\nRajasthan \nUttar Pradesh \nChandigarh")


def southstates():
    print("Andhra Pradesh\nKarnataka\nKerala\nTamil Nadu\nTelangana")

def eaststates():
    print("Bihar\nJharkhand\nOdisha\nWest Bengal\nArunachal Pradesh\nAssam\nManipur\nMeghalaya\nMizoram\nNagaland\nSikkim\nTripura")


def weststates():
    print("Goa\nGujarat\nMaharashtra")

def Rivers():
    print("Ganga\nYamuna\nIndus\nGodavari\nBrahmaputra\nNarmada\nCauvery")
    
def languages():
    print("Telugu\nAssamese\nBangla\nBodo\nDogri\nGujarati\nHindi\nKashmiri\nKannada\nKonkani\nMaithili\nMalayalam\nManipuri\nMarathi\nNepali\nOriya\nPunjabi\nTamil\nSantali\nSindhi\nUrdu.")

In [59]:
b.southstates()

Andhra Pradesh
Karnataka
Kerala
Tamil Nadu
Telangana

In [60]:
b.northstates()

Jammu & Kashmir
Himachal Pradesh
Punjab
Uttarakhand
Haryana
Delhi
Rajasthan
Uttar Pradesh
Chandigarh

In [61]:
b.eaststates()

Bihar
Jharkhand
Odisha
West Bengal
Arunachal Pradesh
Assam
Manipur
Meghalaya
Mizoram
Nagaland
Sikkim
Tripura

In [62]:
b.weststates()

Goa
Gujarat
Maharashtra

In [63]:
b.Rivers()

Ganga
Yamuna
Indus
Godavari
Brahmaputra
Narmada
Cauvery

**SHOPPING MALL**

In [65]:
import shoppingmall as sm

In [ ]:
def ground_floor():
    print("1. Goods\n2. parking")
    
def first_floor():
    print("1. children wear\n2. women's wear\n3. Men's wear\n4. Baby wear")
    
def second_floor():
    print("1. Gold jewelry\n2. Silver jewelry\n3. Diamond jewelry")
    
def third_floor():
    print("1. cosmetics\n2. make-up items")
    
def fourth_floor():
    print("1. Food Sections\n2. Bakeries\n3. Restaurents")
    
def fifth_floor():
    print("1.Gaming zone\n2.spa\n3.online games\n4.Beauty parlour")
    
def sixth_floor():
    print("1. Theatre\n2. Multiplex")

In [68]:
sm.ground_floor()

1. Goods
2. parking

In [66]:
sm.first_floor()

1. children wear
2. women's wear
3. Men's wear
4. Baby wear

In [69]:
sm.second_floor()

1. Gold jewelry
2. Silver jewelry
3. Diamond jewelry

In [70]:
sm.third_floor()

1. cosmetics
2. make-up items

In [71]:
sm.fourth_floor()

1. Food Sections
2. Bakeries
3. Restaurents

In [72]:
sm.fifth_floor()

1.Gaming zone
2.spa
3.online games
4.Beauty parlour

In [73]:
sm.sixth_floor()

1. Theatre
2. Multiplex