

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [1]:
fruits= ("banana","grape","orange","water melon","kiwi")

In [2]:
print(fruits)

('banana', 'grape', 'orange', 'water melon', 'kiwi')

In [52]:
fruits[0]

'banana'

In [53]:
fruits[1]

'grape'

In [54]:
fruits[2]

'orange'

In [55]:
fruits[3]

'water melon'

In [56]:
fruits[4]

'kiwi'

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [4]:
A1= (1,2,3,4,5,6)
B1= (7,8,9,10,11,12,13)

In [5]:
C1= A1+B1

In [7]:
C1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [8]:
len(C1)

13

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [9]:
Even= {2,4,6,8,10,12,14,16,18,20}
print(Even)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

In [14]:
set1= {1,2,3,4,5}
set2= {3,4,5,6,7,8,9}

In [13]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
set1.intersection(set2)

{3, 4, 5}

In [16]:
set1.difference(set2)

{1, 2}

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [17]:
tuple1= (11,22,33,345,44,55,666)

In [18]:
set1= set(tuple1)

In [19]:
set1

{11, 22, 33, 44, 55, 345, 666}

In [20]:
min(set1)

11

In [21]:
max(set1)

666

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Tuple Immutability**
- immutability in python means the changes that are made which does not effect the original tuple.
- there is no any functions or methods that can change(adding/removing) the values from the tuple.
- Tuple has only two functions(index and count) which does not effect the tuple.
- we can add values through concatenation but it does not effect the original tuples

In [22]:
tuple1= (1,2,3,4,5,6)

In [24]:
tuple2= (7,8,9,10)

In [25]:
tuple1+tuple2       #concatenation does not make any changes to the original tuples.

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [26]:
tuple1

(1, 2, 3, 4, 5, 6)

In [27]:
tuple2

(7, 8, 9, 10)

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [28]:
set1={1,2,3,4,5,6,77,88,99}

In [29]:
set1.add(1098)

In [30]:
set1

{1, 2, 3, 4, 5, 6, 77, 88, 99, 1098}

In [31]:
set1.remove(77)

In [32]:
set1

{1, 2, 3, 4, 5, 6, 88, 99, 1098}

In [33]:
77 in set1

False

In [34]:
99 in set1

True

In [35]:
len(set1)

9

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [36]:
A= (1,3,5,7,9,11,13,15,17,19)

In [38]:
A[3:8]

(7, 9, 11, 13, 15)

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [39]:
List1= [1,2,2,2,3,4,5,6,6,8,8]

In [40]:
len(List1)

11

In [43]:
Set1=set(List1)

In [44]:
Set1

{1, 2, 3, 4, 5, 6, 8}

In [45]:
len(Set1)  # 4 duplicates removed

7

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [50]:
Tuple1= ("RRR","pushpa","spider man","iron man","Hulk")
set1= {"iron man","black panther","Hulk", "thor", "loki","RRR"}

In [51]:
set1.intersection(Tuple1)

{'Hulk', 'RRR', 'iron man'}