1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

**1.** Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [1]:
website_name= input("Enter website name:")

Enter website name:www.google.com

In [3]:
print(website_name.startswith("www."))
print(website_name.endswith(".com"))

True
True

**2.** name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [5]:
name = "Innomatics"
course = "Data Science"
print("Hello world I am learning "+course+" in "+name)

Hello world I am learning Data Science in Innomatics

In [6]:
name = "Innomatics"
course = "Data Science"
print("Hello world I am learning ",course," in ",name)

Hello world I am learning  Data Science  in  Innomatics

In [7]:
name = "Innomatics"
course = "Data Science"
print("Hello world I am learning {} in {}".format(course,name))

Hello world I am learning Data Science in Innomatics

In [8]:
name = "Innomatics"
course = "Data Science"
print(f"Hello world I am learning {course} in {name}")

Hello world I am learning Data Science in Innomatics

**3.** Replace `Science` with `Analysis` in the above output.

In [11]:
name = "Innomatics"
course = "Data Science"
X=(f"Hello world I am learning {course} in {name}")

In [13]:
X.replace("Science","Analysis")

'Hello world I am learning Data Analysis in Innomatics'

**4.** `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case

In [14]:
string = '     Hello World I am learning Python in Innomatics   '

In [15]:
len(string)

54

In [18]:
string[-23:-17:]

'Python'

In [21]:
WS= string.strip()
WS

'Hello World I am learning Python in Innomatics'

In [22]:
len(WS)

46

In [23]:
string.upper()

'     HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS   '

**5.** What is the index number of 'World' in above string.

In [26]:
string.index("World")

11

**6.** Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [29]:
A= string.split(" ")
A

['',
 '',
 '',
 '',
 '',
 'Hello',
 'World',
 'I',
 'am',
 'learning',
 'Python',
 'in',
 'Innomatics',
 '',
 '',
 '']

In [30]:
type(A)

list

**7.** How many times 'a' is `repeated` in above string.

In [32]:
string.count("a")

3